body {
    font-family: Arial, sans-serif;
    text-align: center;
}

#numero {
    font-size: 60px;
    margin: 20px;
}

.schedina {
    display: grid;
    grid-template-columns: repeat(5, 60px);
    gap: 5px;
    justify-content: center;
}

.casella {
    border: 1px solid #333;
    padding: 10px;
    font-weight: bold;
}

.casella.segnato {
    background: gold;
}

.numeri span {
    margin: 4px;
    display: inline-block;
    font-weight: bold;
}

